@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300;500;700&family=Open+Sans:wght@300; 400; 700&display=swap");
@import url("https://fonts.cdnfonts.com/css/banny");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

body {
  min-width: 100%;
  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-image: url(../../images/header-bg.png);
  background-repeat: round;
  background-size: 100%;
}

.nav {
  width: 100%;
  padding: 0 7% 0 7%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #FFFFFF;
}
@media screen and (max-width: 1180px) {
  .nav {
    padding: 0 1%;
  }
}
@media screen and (max-width: 870px) {
  .nav {
    justify-content: space-between;
  }
}
.nav__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 1.2em;
  line-height: 18px;
  padding-top: 3%;
}
@media screen and (max-width: 870px) {
  .nav__item {
    display: none;
  }
}
.nav__logo {
  padding-top: 2%;
  width: 10%;
}
@media screen and (max-width: 870px) {
  .nav__logo {
    padding-left: 45%;
  }
}
.nav__burger {
  display: none;
  width: 3.5rem;
  position: relative;
  margin: 4% 3%;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav__burger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #E8C300;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.nav__burger span:nth-child(1) {
  top: 0px;
}
.nav__burger span:nth-child(2) {
  top: 18px;
}
.nav__burger span:nth-child(3) {
  top: 36px;
}
@media screen and (max-width: 870px) {
  .nav__burger {
    display: block;
    margin-right: 3%;
  }
}
@media screen and (max-width: 470px) {
  .nav__burger {
    width: 12%;
  }
}

.hero {
  display: flex;
  color: #FFFFFF;
  width: 100%;
  margin: 10% 5% 13% 5%;
  justify-content: space-between;
  box-sizing: border-box;
}

.hero-schedule {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: end;
}

.hero-center {
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.hero-center__name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2em;
  letter-spacing: 0.7rem;
}
.hero-center__title {
  font-family: "banny", sans-serif;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 140%;
}
@media screen and (max-width: 870px) {
  .hero-center__title {
    font-size: 4rem;
    line-height: 100%;
    padding: 0 1%;
  }
}
.hero-center hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 8%;
}
.hero-center__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  gap: 7%;
  padding-top: 3%;
}
.hero-center__btn-1 {
  background-color: #E8C300;
  color: #FFFFFF;
  border-radius: 1em;
  width: 25%;
  height: 100%;
  line-height: 400%;
}
@media screen and (max-width: 1180px) {
  .hero-center__btn-1 {
    height: 50%;
    line-height: 300%;
  }
}
@media screen and (max-width: 870px) {
  .hero-center__btn-1 {
    height: 70%;
    line-height: 300%;
  }
}
@media screen and (max-width: 470px) {
  .hero-center__btn-1 {
    width: 35%;
  }
}
.hero-center__btn-2 {
  background-color: #E8C300;
  color: #FFFFFF;
  border-radius: 1em;
  width: 25%;
  height: 100%;
  line-height: 400%;
  background: transparent;
  border: 1px solid gray;
}
@media screen and (max-width: 1180px) {
  .hero-center__btn-2 {
    height: 50%;
    line-height: 300%;
  }
}
@media screen and (max-width: 870px) {
  .hero-center__btn-2 {
    height: 70%;
    line-height: 300%;
  }
}
@media screen and (max-width: 470px) {
  .hero-center__btn-2 {
    width: 35%;
  }
}
.hero-center__arrow {
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 1.5%;
  position: absolute;
  left: 47.5%;
  bottom: -40%;
}
@media screen and (max-width: 1180px) {
  .hero-center__arrow {
    bottom: -15%;
  }
}
@media screen and (max-width: 470px) {
  .hero-center__arrow {
    bottom: -5%;
  }
}

.hero-social {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  width: 2%;
}
.hero-social__icon {
  width: 70%;
  padding: 6% 0;
}
@media screen and (max-width: 470px) {
  .hero-social__icon {
    width: 150%;
  }
}

.about {
  width: 100%;
  display: flex;
  padding: 5% 0 5% 5%;
  box-sizing: border-box;
  gap: 3%;
}
.about__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about__content h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.about__content hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 10%;
}
.about__content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.4em;
  margin-bottom: 3%;
}
.about__content :last-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4em;
}
@media screen and (max-width: 1180px) {
  .about__content {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 870px) {
  .about__content {
    width: 80%;
  }
}
.about__pic {
  box-sizing: border-box;
  position: relative;
  width: 40%;
}
@media screen and (max-width: 870px) {
  .about__pic {
    width: 60%;
  }
}
.about__pic-img {
  width: 100%;
}
.about__pic-sq {
  width: 38%;
  position: absolute;
  left: 70%;
  padding-top: 28%;
}
@media screen and (max-width: 870px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
  }
}

.team {
  width: 100%;
  background-image: url(../../images/Team-bg.png);
  color: #FFFFFF;
}
.team__head {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2em;
  letter-spacing: 0.7rem;
  text-align: center;
  padding-top: 3%;
}
.team__pic {
  box-sizing: border-box;
  width: 40%;
  position: relative;
}
@media screen and (max-width: 870px) {
  .team__pic {
    width: 60%;
    margin: 5% 0;
  }
}
.team__img {
  width: 100%;
}
.team__square {
  width: 38%;
  position: absolute;
  left: -18%;
  padding-top: 28%;
}

.team-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  box-sizing: border-box;
  gap: 3%;
  padding: 5% 0 5% 10%;
}
@media screen and (max-width: 870px) {
  .team-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.team-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1em;
}
.team-text h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}
.team-text hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 13%;
}
.team-text :nth-child(3) {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.4em;
}
.team-text :last-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4em;
}
@media screen and (max-width: 1180px) {
  .team-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 870px) {
  .team-text {
    width: 90%;
    padding-bottom: 3%;
  }
}

.book {
  width: 100%;
  display: flex;
  padding: 5% 0 1% 5%;
  box-sizing: border-box;
  gap: 3%;
}
@media screen and (max-width: 870px) {
  .book {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 5%;
  }
}
.book__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 870px) {
  .book__container {
    width: 90%;
  }
}
.book h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.book hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 13%;
}
.book__form {
  display: flex;
  flex-wrap: wrap;
  min-height: 40%;
  justify-content: space-between;
  width: 100%;
  gap: 0.5em;
}
.book__form-item {
  width: 49%;
  box-sizing: border-box;
  padding-left: 4%;
  border: 1px solid #E5E5E5;
  background-color: #E5E5E5;
  border-radius: 0.3rem;
  color: gray;
}
@media screen and (max-width: 870px) {
  .book__form-item {
    height: 3rem;
  }
}
@media screen and (max-width: 470px) {
  .book__form-item {
    width: 100%;
  }
}
.book__form-btn {
  background-color: #E8C300;
  color: #FFFFFF;
  border-radius: 1em;
  text-transform: uppercase;
  width: 100%;
  border: 1px #E8C300;
  border-radius: 0.4em;
}
@media screen and (max-width: 870px) {
  .book__form-btn {
    height: 3rem;
  }
}
.book__pic {
  box-sizing: border-box;
  position: relative;
  width: 40%;
}
@media screen and (max-width: 870px) {
  .book__pic {
    width: 80%;
  }
}
.book__img {
  width: 100%;
}
.book__sq {
  width: 38%;
  position: absolute;
  left: 70%;
  padding-top: 28%;
}

.schedule {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  color: rgba(51, 51, 51, 0.5019607843);
}
.schedule > strong {
  font-weight: 700;
}

.spec {
  width: 100%;
  background-image: url(../../images/Team-bg.png);
  color: #FFFFFF;
  position: relative;
}
.spec__wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  box-sizing: border-box;
  gap: 3%;
  padding: 5% 0 0 10%;
}
@media screen and (max-width: 870px) {
  .spec__wrapper {
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.spec__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2em;
  letter-spacing: 0.7rem;
  text-align: center;
  padding-top: 3%;
}
.spec__pic {
  box-sizing: border-box;
  width: 40%;
  position: relative;
}
@media screen and (max-width: 870px) {
  .spec__pic {
    width: 70%;
  }
}
.spec__img {
  width: 100%;
}
.spec__square {
  width: 38%;
  position: absolute;
  left: -12%;
  padding-top: 28%;
}
.spec__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 1em;
}
@media screen and (max-width: 1180px) {
  .spec__text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 870px) {
  .spec__text {
    width: 90%;
  }
}
.spec__text h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (max-width: 1180px) {
  .spec__text h2 {
    font-size: 2rem;
  }
}
.spec__text hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 13%;
}
.spec__text :nth-child(3) {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.4em;
}
.spec__text :last-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4em;
}
.spec__map {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 4em;
  padding-top: 2em;
}
.spec__map > button {
  all: unset;
  background: #e5e5e5;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}
.spec__map > button.active:after {
  background: #FFFFFF;
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.5em;
  width: 0.5em;
}

.menu {
  width: 100%;
  height: 50rem;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.menu h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
@media screen and (max-width: 1180px) {
  .menu h2 {
    font-size: 2rem;
  }
}
.menu hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 10%;
}
.menu p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.4em;
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 1180px) {
  .menu p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 470px) {
  .menu p {
    font-size: 0.9rem;
  }
}
.menu__nav {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .menu__nav {
    width: 60%;
    font-size: 1rem;
  }
}
.menu__nav-item {
  border-right: 1px solid #E5E5E5;
  padding: 3%;
}
.menu :last-child {
  border-right: none;
}
.menu__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2rem 3rem;
}
@media screen and (max-width: 1180px) {
  .menu__table {
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
    margin: 5%;
  }
}
@media screen and (max-width: 470px) {
  .menu__table {
    grid-template-columns: 1fr;
    overflow: scroll;
    margin: 5%;
  }
}
.menu__table-item h4 {
  font-family: "banny", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.menu__table-item span {
  font-family: "banny", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  color: gray;
}

.events {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.events__container {
  width: 100%;
  background-image: url(../../images/Events-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3%;
}
.events h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2em;
  letter-spacing: 0.7rem;
  color: #FFFFFF;
  font-size: 0.8rem;
}
.events__pic-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 1180px) {
  .events__pic-container {
    flex-direction: column;
    align-items: center;
  }
}
.events__pic-1 {
  width: 45%;
  position: relative;
}
@media screen and (max-width: 1180px) {
  .events__pic-1 {
    width: 80%;
  }
}
.events__pic-1 > span {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  display: block;
  position: absolute;
  right: 13%;
  top: 10%;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "banny", sans-serif;
}
.events__pic-1-img {
  width: 70%;
}
.events__pic-1-sq {
  position: absolute;
  left: 3%;
  padding-top: 20%;
  width: 30%;
}
.events__pic-2 {
  width: 45%;
  position: relative;
}
@media screen and (max-width: 1180px) {
  .events__pic-2 {
    width: 80%;
  }
}
.events__pic-2 > span {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: block;
  position: absolute;
  bottom: 9%;
  left: 13%;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "banny", sans-serif;
}
.events__pic-2-img {
  width: 70%;
}
.events__pic-2-sq {
  position: absolute;
  padding-top: 20%;
  width: 30%;
  right: 5%;
}
.events__contacts {
  color: rgb(204, 203, 203);
  font-weight: 100;
  font-size: 0.7rem;
  display: block;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.events__contacts strong {
  font-weight: 700;
}
.events__gallery {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 1180px) {
  .events__gallery {
    flex-wrap: wrap;
  }
}
.events__gallery img {
  width: 25%;
}
@media screen and (max-width: 1180px) {
  .events__gallery img {
    width: 50%;
  }
}

.contact {
  width: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contact h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 1180px) {
  .contact h2 {
    font-size: 2rem;
  }
}
.contact hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 7%;
}
.contact p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.4em;
  padding: 0 25%;
  text-align: center;
}
@media screen and (max-width: 1180px) {
  .contact p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 870px) {
  .contact p {
    padding: 0 10%;
  }
}
.contact__form {
  margin: 3% 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.8em 0;
}
.contact__form input {
  width: 49%;
  box-sizing: border-box;
  padding-left: 4%;
  border: 1px solid #E5E5E5;
  background-color: #E5E5E5;
  border-radius: 0.3rem;
  color: gray;
  width: 33%;
  height: 4rem;
  font-size: 1rem;
}
@media screen and (max-width: 700px) {
  .contact__form input {
    width: 100%;
  }
}
.contact__form textarea {
  width: 49%;
  box-sizing: border-box;
  padding-left: 4%;
  border: 1px solid #E5E5E5;
  background-color: #E5E5E5;
  border-radius: 0.3rem;
  color: gray;
  width: 100%;
  height: 8rem;
  padding-top: 2%;
  font-size: 1rem;
}
.contact__form div {
  width: 50%;
  padding-right: 1%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0 0.3em;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.5019607843);
}
@media screen and (max-width: 1180px) {
  .contact__form div {
    width: 100%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 700px) {
  .contact__form div {
    display: none;
  }
}
.contact__form button {
  width: 50%;
  height: 4rem;
  border-radius: 0.2em;
  border: 1px solid #E8C300;
  background-color: #E8C300;
  color: #FFFFFF;
  font-size: 1rem;
}
@media screen and (max-width: 1180px) {
  .contact__form button {
    width: 100%;
    font-size: 1.5rem;
  }
}
.contact__contacts-item {
  font-size: 0.9rem;
}
.contact__contacts-img {
  width: 10%;
}
.contact__frame {
  width: 100%;
  height: 35rem;
}
@media screen and (max-width: 470px) {
  .contact__frame {
    height: 20rem;
  }
}
.contact__contacts-adaptive {
  display: none;
}
@media screen and (max-width: 700px) {
  .contact__contacts-adaptive {
    display: block;
    width: 100%;
    padding: 5% 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 0 0.3em;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.5019607843);
  }
}
.contact__contacts-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer {
  width: 100%;
  min-height: 15vh;
  color: rgb(204, 203, 203);
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 0.8rem;
}
.footer strong {
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */