@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300;500;700&family=Open+Sans:wght@300; 400; 700&display=swap");
@import url("https://fonts.cdnfonts.com/css/banny");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

body {
  min-width: 100%;
  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../../images/header-bg.png);
  background-repeat: round;
  background-size: 100%;
}

.nav {
  width: 100%;
  padding: 0 7% 0 7%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #FFFFFF;
}
.nav__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 1.2em;
  line-height: 18px;
  padding-top: 3%;
}
.nav__logo {
  padding-top: 2%;
  width: 10%;
}

.hero {
  display: flex;
  color: #FFFFFF;
  width: 100%;
  margin: 10% 5% 13% 5%;
  justify-content: space-between;
}

.hero-schedule {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: end;
}

.hero-center {
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.hero-center__name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2em;
  letter-spacing: 0.7rem;
}
.hero-center__title {
  font-family: "banny", sans-serif;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 140%;
}
.hero-center__hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 8%;
}
.hero-center__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  gap: 7%;
  padding-top: 3%;
}
.hero-center__btn-1 {
  background-color: #E8C300;
  color: #FFFFFF;
  border-radius: 1em;
  width: 25%;
  height: 100%;
  line-height: 400%;
}
.hero-center__btn-2 {
  background-color: #E8C300;
  color: #FFFFFF;
  border-radius: 1em;
  width: 25%;
  height: 100%;
  line-height: 400%;
  background: transparent;
  border: 1px solid gray;
}
.hero-center__arrow {
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 1.5%;
  position: absolute;
  left: 47.5%;
  bottom: -40%;
}

.hero-social {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  width: 2%;
}
.hero-social__icon {
  width: 70%;
  padding: 6% 0;
}

.About {
  width: 100%;
  height: 40rem;
  display: flex;
  padding: 5% 0 5% 5%;
  margin-bottom: 7%;
  box-sizing: border-box;
  gap: 3%;
}
.About__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.About__h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.About__hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 10%;
}
.About__solid-p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.4em;
}
.About__p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4em;
}
.About__pic {
  box-sizing: border-box;
  position: relative;
  width: 40%;
}
.About__pic--img {
  width: 100%;
}
.About__pic--sq {
  width: 38%;
  position: absolute;
  left: 70%;
  padding-top: 28%;
}

.Team {
  width: 100%;
  height: 40rem;
  margin-bottom: 7%;
  background-image: url(../../images/Team-bg.png);
  color: #FFFFFF;
}
.Team__head {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2em;
  letter-spacing: 0.7rem;
  text-align: center;
  padding-top: 3%;
}
.Team__pic {
  width: 40%;
  position: relative;
}
.Team__img {
  width: 100%;
  height: auto;
}
.Team__square {
  width: 38%;
  position: absolute;
  left: -18%;
  padding-top: 28%;
}

.Team-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  box-sizing: border-box;
  gap: 3%;
  padding: 5% 0 5% 10%;
}

.Team-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1em;
}
.Team-text h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}
.Team-text hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 13%;
}
.Team-text :nth-child(3) {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.4em;
}
.Team-text :last-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4em;
}

.Book {
  width: 100%;
  height: 40rem;
  display: flex;
  padding: 5% 0 5% 5%;
  margin-bottom: 7%;
  box-sizing: border-box;
  gap: 3%;
}
.Book h2 {
  font-family: "banny", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.Book hr {
  background-color: #E8C300;
  border: 0.2em solid #E8C300;
  border-radius: 1em;
  width: 30%;
}
.form-container {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */