@import './utiles/reset';
@import './utiles/var';
@import './utiles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300;500;700&family=Open+Sans:wght@300; 400; 700&display=swap');
@import url('https://fonts.cdnfonts.com/css/banny');

@import './components/header';
@import './components/About';
@import './components/Team';
@import './components/Book';