.book {
    width: 100%;
    display: flex;
    padding: 5% 0 1% 5%;
    box-sizing: border-box;
    gap: 3%;

    &__container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h2 {
        @include h2;
        text-transform: uppercase;
    }

    hr {
        @include hr;
        width: 13%;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        min-height: 40%;
        justify-content: space-between;
        width: 100%;
        gap: 0.5em;
    }

    &__form-item {
        @include field;
    }

    &__form-btn {
        @include btn;
        text-transform: uppercase;
        width: 100%;
        border: 1px $yellow;
        border-radius: 0.4em;
    }


    &__pic {
        box-sizing: border-box;
        position: relative;
        width: 40%;
    }

    &__img {
        width: 100%;
    }

    &__sq {
        width: 38%;
        position: absolute;
        left: 70%;
        padding-top: 28%;
    }
}

.schedule {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    color: $contact-gray;

    &>strong {
        font-weight: 700;
    }
}