.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;


    h2 {
        @include h2;
        text-transform: uppercase;
    }

    hr {
        @include hr;
        width: 7%;
    }

    p {
        @include p;
    }
}