.contact {
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;


    h2 {
        @include h2;
        text-transform: uppercase;
    }

    hr {
        @include hr;
        width: 7%;
    }

    p {
        @include p-solid;
        padding: 0 25%;
        text-align: center;
    }

    &__form {
        margin: 3% 10% 5% 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.8em 0;

        input {
            @include field;
            width: 33%;
            height: 4rem;
            font-size: 1rem;
        }

        textarea {
            @include field;
            width: 100%;
            height: 8rem;
            padding-top: 2%;
            font-size: 1rem;
        }

        div {
            width: 50%;
            padding-right: 1%;
            box-sizing: border-box;
            display: flex;
            // flex-wrap: wrap;
            align-items: center;
            gap: 0 0.3em;
            font-weight: 700;
            color: $contact-gray;
        }

        button {
            width: 50%;
            height: 4rem;
            border-radius: 0.2em;
            border: 1px solid $yellow;
            background-color: $yellow;
            color: $white;
            font-size: 1rem;
        }
    }

    &__contacts-item {
        font-size: 0.9rem;
    }

    &__contacts-img {
        width: 10%;
    }

    &__frame {
        width: 100%;
        height: 35rem;
    }
}