.contact {
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
        @include h2;
        text-transform: uppercase;

        @media screen and (max-width: 1180px) {
            font-size: 2rem;
        }
    }

    hr {
        @include hr;
        width: 7%;
    }

    p {
        @include p-solid;
        padding: 0 25%;
        text-align: center;

        @media screen and (max-width: 1180px) {
            font-size: 1.3rem;
        }

        @media screen and (max-width: 870px) {
            padding: 0 10%;
        }
    }

    &__form {
        margin: 3% 10% 5% 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.8em 0;

        input {
            @include field;
            width: 33%;
            height: 4rem;
            font-size: 1rem;

            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }

        textarea {
            @include field;
            width: 100%;
            height: 8rem;
            padding-top: 2%;
            font-size: 1rem;
        }

        div {
            width: 50%;
            padding-right: 1%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            gap: 0 0.3em;
            font-weight: 700;
            color: $contact-gray;

            @media screen and (max-width: 1180px) {
                width: 100%;
                font-size: 1.5rem;
            }

            @media screen and (max-width: 700px) {
                display: none;
            }
        }


        button {
            width: 50%;
            height: 4rem;
            border-radius: 0.2em;
            border: 1px solid $yellow;
            background-color: $yellow;
            color: $white;
            font-size: 1rem;

            @media screen and (max-width: 1180px) {
                width: 100%;
                font-size: 1.5rem;
            }
        }
    }

    &__contacts-item {
        font-size: 0.9rem;
    }

    &__contacts-img {
        width: 10%;
    }

    &__frame {
        width: 100%;
        height: 35rem;

        @media screen and (max-width: 470px) {
            height: 20rem;
        }
    }

    &__contacts-adaptive {
        display: none;

        @media screen and (max-width: 700px) {
            display: block;
            width: 100%;
            padding: 5% 10%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            align-self: flex-start;
            flex-wrap: wrap;
            gap: 0 0.3em;
            font-weight: 700;
            color: $contact-gray;
        }
    }

    &__contacts-container {
        display: flex;
        align-items: center;
        width: 100%;
    }
}