.events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__container {
        width: 100%;
        background-image: url(../../images/Events-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 3%;
    }

    h2 {
        @include name;
        color: $white;
        font-size: 0.8rem;
    }

    &__pic-container {
        display: flex;
        justify-content: center;
        width: 100%;

        @media screen and (max-width: 1180px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__pic-1 {
        width: 45%;
        position: relative;

        @media screen and (max-width: 1180px) {
            width: 80%;
        }

        &>span {
            writing-mode: vertical-rl;
            display: block;
            position: absolute;
            right: 13%;
            top: 10%;

            color: $white;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-family: $banny;
        }

    }

    &__pic-1-img {
        width: 70%;
    }

    &__pic-1-sq {
        position: absolute;
        left: 3%;
        padding-top: 20%;
        width: 30%;
    }



    &__pic-2 {
        width: 45%;
        position: relative;

        @media screen and (max-width: 1180px) {
            width: 80%;
        }

        &>span {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            display: block;
            position: absolute;
            bottom: 9%;
            left: 13%;

            color: $white;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-family: $banny;
        }
    }

    &__pic-2-img {
        width: 70%;
    }

    &__pic-2-sq {
        position: absolute;
        padding-top: 20%;
        width: 30%;
        right: 5%;
    }



    &__contacts {
        color: $light-gray;
        font-weight: 100;
        font-size: 0.7rem;
        display: block;
        padding-bottom: 2rem;
        box-sizing: border-box;

        strong {
            font-weight: 700;
        }
    }

    &__gallery {
        width: 100%;
        display: flex;

        @media screen and (max-width: 1180px) {
            flex-wrap: wrap;
        }

        img {
            width: 25%;

            @media screen and (max-width: 1180px) {
                width: 50%;
            }
        }
    }
}