.footer {
    width: 100%;
    min-height: 15vh;
    color: $light-gray;
    background-color: $footer-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 0.8rem;

    strong {
        font-weight: 700;
    }
}