body {
    min-width: 100%;
    font-family: $open-sans;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-image: url(../images/header-bg.png);
    background-repeat: round;
    background-size: 100%;
}

.nav {
    width: 100%;
    padding: 0 7% 0 7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: $white;

    @media screen and (max-width: 1180px) {
        padding: 0 1%;
    }

    @media screen and (max-width: 870px) {
        justify-content: space-between;
    }

    &__item {
        font-family: $open-sans;
        font-style: normal;
        font-size: 1.2em;
        line-height: 18px;
        padding-top: 3%;

        @media screen and (max-width: 870px) {
            display: none;
        }
    }

    &__logo {
        padding-top: 2%;
        width: 10%;

        @media screen and (max-width: 870px) {
            padding-left: 45%;
        }
    }

    &__burger {
        display: none;
        width: 3.5rem;
        position: relative;
        margin: 4% 3%;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 9px;
            width: 100%;
            background: $yellow;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2) {
            top: 18px;
        }

        span:nth-child(3) {
            top: 36px;
        }

        @media screen and (max-width: 870px) {
            display: block;
            margin-right: 3%;
        }

        @media screen and (max-width: 470px) {
            width: 12%;
        }
    }
}


.hero {
    display: flex;
    color: $white;
    width: 100%;
    margin: 10% 5% 13% 5%;
    justify-content: space-between;
    box-sizing: border-box;
}

.hero-schedule {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: end;
}

.hero-center {
    box-sizing: border-box;
    text-align: center;
    position: relative;

    &__name {
        @include name;
    }

    &__title {
        font-family: $banny;
        text-transform: uppercase;
        font-size: 8rem;
        line-height: 140%;

        @media screen and (max-width: 870px) {
            font-size: 4rem;
            line-height: 100%;
            padding: 0 1%;
        }
    }

    hr {
        @include hr;
        width: 8%;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20%;
        gap: 7%;
        padding-top: 3%;
    }

    &__btn-1 {
        @include btn;
        width: 25%;
        height: 100%;
        line-height: 400%;

        @media screen and (max-width: 1180px) {
            height: 50%;
            line-height: 300%;
        }

        @media screen and (max-width: 870px) {
            height: 70%;
            line-height: 300%;
        }

        @media screen and (max-width: 470px) {
            width: 35%;
        }
    }

    &__btn-2 {
        @include btn;
        width: 25%;
        height: 100%;
        line-height: 400%;
        background: transparent;
        border: 1px solid gray;

        @media screen and (max-width: 1180px) {
            height: 50%;
            line-height: 300%;
        }

        @media screen and (max-width: 870px) {
            height: 70%;
            line-height: 300%;
        }

        @media screen and (max-width: 470px) {
            width: 35%;
        }
    }

    &__arrow {
        background-color: $white;
        border-radius: 50%;
        padding: 1.5%;
        position: absolute;
        left: 47.5%;
        bottom: -40%;

        @media screen and (max-width: 1180px) {
            bottom: -15%;
        }

        @media screen and (max-width: 470px) {
            bottom: -5%;
        }
    }
}

.hero-social {
    writing-mode: vertical-rl;
    width: 2%;


    &__icon {
        width: 70%;
        padding: 6% 0;

        @media screen and (max-width: 470px) {
            width: 150%;
        }
    }
}