body {
    min-width: 100%;
    font-family: $open-sans;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../../images/header-bg.png);
    background-repeat: round;
    background-size: 100%;
}

.nav {
    width: 100%;
    padding: 0 7% 0 7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: $white;

    &__item {
        font-family: $open-sans;
        font-style: normal;
        font-size: 1.2em;
        line-height: 18px;
        padding-top: 3%;
    }

    &__logo {
        padding-top: 2%;
        width: 10%;
    }
}


.hero {
    display: flex;
    color: $white;
    width: 100%;
    margin: 10% 5% 13% 5%;
    justify-content: space-between;
}

.hero-schedule {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: end;
}

.hero-center {
    box-sizing: border-box;
    text-align: center;
    position: relative;

    &__name {
        font-family: $open-sans;
        font-style: normal;
        font-weight: 300;
        font-size: 1.3em;
        line-height: 2em;
        letter-spacing: 0.5rem;
    }

    &__title {
        font-family: $banny;
        text-transform: uppercase;
        font-size: 8rem;
        line-height: 140%;
    }

    &__hr {
        @include hr;
        width: 8%;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20%;
        gap: 7%;
        padding-top: 3%;
    }

    &__btn-1 {
        @include btn;
        width: 25%;
        height: 100%;
        line-height: 400%
    }

    &__btn-2 {
        @include btn;
        width: 25%;
        height: 100%;
        line-height: 400%;
        background: transparent;
        border: 1px solid gray;
    }

    &__arrow {
        background-color: $white;
        border-radius: 50%;
        padding: 1.5%;
        position: absolute;
        left: 47.5%;
        bottom: -40%;
    }
}

.hero-social {
    writing-mode: vertical-rl;
    width: 2%;


    &__icon {
        width: 70%;
        padding: 6% 0;
    }
}