.spec {
    width: 100%;
    background-image: url(../images/Team-bg.png);
    color: $white;
    position: relative;


    &__wrapper {
        width: 100%;
        height: 90%;
        display: flex;
        box-sizing: border-box;
        gap: 3%;
        padding: 5% 0 0 10%;

        @media screen and (max-width: 870px) {
            font-size: 0.8rem;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
    }

    &__title {
        @include name;
        text-align: center;
        padding-top: 3%;
    }

    &__pic {
        box-sizing: border-box;
        width: 40%;
        position: relative;

        @media screen and (max-width: 870px) {
            width: 70%;
        }
    }

    &__img {
        width: 100%;
    }

    &__square {
        width: 38%;
        position: absolute;
        left: -12%;
        padding-top: 28%;
    }


    &__text {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
        gap: 1em;

        @media screen and (max-width: 1180px) {
            font-size: 0.8rem;
        }

        @media screen and (max-width: 870px) {
            width: 90%;
        }

        h2 {
            @include h2;
            color: $white;

            @media screen and (max-width: 1180px) {
                font-size: 2rem;
            }
        }

        hr {
            @include hr;
            width: 13%;
        }

        :nth-child(3) {
            @include p-solid;
        }

        :last-child {
            @include p;
        }
    }

    &__map {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 4em;
        padding-top: 2em;

        &>button {
            all: unset;
            background: lighten($light-gray, 10);
            cursor: pointer;
            margin: 0 0.125em;
            position: relative;
            user-select: none;
            @include circle(1em);

            &.active {
                &:after {
                    background: $white;
                    content: "";
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    @include circle(0.5em);
                }
            }
        }
    }
}