    .team {
    width: 100%;
    background-image: url(../../images/Team-bg.png);
    color: $white;

    &__head {
        @include name;
        text-align: center;
        padding-top: 3%;
    }

    &__pic {
        box-sizing: border-box;
        width: 40%;
        position: relative;


        @media screen and (max-width: 870px) {
            width: 60%;
            margin: 5% 0;
        }
    }

    &__img {
        width: 100%;
    }

    &__square {
        width: 38%;
        position: absolute;
        left: -18%;
        padding-top: 28%;
    }
}

.team-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    box-sizing: border-box;
    gap: 3%;
    padding: 5% 0 5% 10%;

    @media screen and (max-width: 870px) {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

.team-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1em;


    h2 {
        @include h2;
        color: $white;
    }

    hr {
        @include hr;
        width: 13%;
    }

    :nth-child(3) {
        @include p-solid;
    }

    :last-child {
        @include p;
    }

    @media screen and (max-width: 1180px) {
        font-size: 0.8rem;
    }

    @media screen and (max-width: 870px) {
        width: 90%;
        padding-bottom: 3%;
    }
}